html {
    height: 100%;
}

body {
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: .9em/1.2; 
    /* background-image:linear-gradient(90deg,#e6ddde 0,#dad0d1);     */
}


.grid-layout {
  display: grid;
  /* grid-template-rows: auto; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  width: 100%;
  grid-gap: 10px;
  height: 100%;
  min-height: 100vh;
  grid-template-areas: "header header header" 
  "case-study1 case-study1 case-study2" 
  "footer footer footer";
}

.header {
    grid-row: 1;
    grid-column: 1/12;
    grid-area: header;
    left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    /* background-image:linear-gradient(90deg,#e6ddde 0,#dad0d1); */
    font-family: 'Quattrocento Sans', sans-serif;
    /* font-family: 'Cormorant', serif;
    font-style: italic; */
    font-weight: 100;
    font-size: large;
    text-align: center;
    top: 0;
    width: 100%;
    height: 10px;
    transition: 0.3s;
}

.header-text {
    font-size: large;
    color: #5f5f5f

}

/* Navigation */
.navbar {
    /* background-image:linear-gradient(90deg,#e6ddde 0,#dad0d1); */
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid #916a7062;  
  }

  .navbar-items {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .navbar-about{
    padding-right: 0%;
    padding-left: 1%;
  }

  .navbar-item{
    flex: 0 0 auto;
    justify-content: flex-end;
    color: #916a70;
    font-size: 1.1em;
    font-weight: 300;
    margin: 0;
    padding-right: 30px;
    padding-left: 30px;
  }

  .navbar-item:nth-child(1) {
    margin-right: auto; /*applied only to the right*/
  }

  .navbar-link {
    color: #916a70;
    font-size: 1.1em;
    font-weight: 300;
    text-decoration: none;
    list-style-type: none;
  }

  .navbar-link:hover {
    color: #64484c;
  }

  .navbar-link:focus {
    color: #64484c;
  }

/* Main body */
.case-study {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 80%;
  border: 1px solid #916a7062;
}

.case-study1 {
  grid-column: 1/4;
  grid-row: 2;
  grid-area: case-study1;
}

.case-study2{
  grid-column: 4/12;
  grid-row: 2;
  grid-area: case-study2;
}

article {
    margin: 0;
    padding: 20px;
    flex: 300px;
}

article h1 {
  border-top: 5px solid #916a7062;
  padding-top: 20px;
  margin-top: 0;
}

figure {
    padding: 20px;
    margin: 0;
    flex: 300px;
}

img{
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

footer {
    grid-row: 3;
    grid-column: 1/12;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    padding: 30px;
    border-top: 1px solid #916a7062;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    grid-area: footer;
}


/* Media Queries */
@media (min-width: 800px) {
  .header {
    padding-top: 50px;
    height: 200px;
  }

  .header-text {
    font-size: 4em; 
  }

  .case-study {
      margin-top: 20px;
      max-width: 80%;
  }

  figure {
    flex: 100px;
  }

  article {
      padding: 20px 20px 20px 5px;
  }

  footer {
      bottom: 0;
      width: 100%;
      margin-top: 20px;
  }
}
 
@media (min-width: 1250px) {
  .header {
    padding-top: 50px;
    height: 200px;
  }

  .header-text {
      font-size: 4em; 
  }

  .case-study {
      margin-top: 20px;
      max-width: 70%;
  }

  footer {
      bottom: 0;
      width: 100%;
      margin-top: 20px;
  }
}








